body {

background-color: white;

}


img {

    width: 300px;
    height: 300px;

}

audio {

    margin-left: 100px;

}

#container {
    width: 100%;
    display: flex;
}



.column {
    height: 500px;
    width: 500px;
    border: solid 2px black;
    flex-direction: column;
    margin: 0 auto;

}


#upLimit {
background-image:url(./images/pure-css-snow-animation.gif);
}

#upWindow {
    height: 300px;
    width: 300px;
    border: solid 1px black;
    margin:0 auto;
    overflow: hidden;

}

#lowWindow {
    height: 300px;
    width: 300px;
    border: solid 1px red;
    margin:0 auto;
    overflow: hidden;

}



#upImgHolder {
    display: flex;
    animation-name: carousel;
    animation-duration:30s;
    animation-iteration-count: infinite;
}

.lowImgHolder {
    

}

#buttons{
    display: flex;
    justify-content: center;

}
button {
    width: 20px;
    height: 20px;
    border: solid 1px black;

}


.carouselPhoto{
    position: relative;
    padding: 0;
    margin: 0;

}

@keyframes carousel{
    from { 
        transform: translateX(0px);
    } 
    to {
        transform: translateX(-1800px);
    }

} 

